html {
  font-family: Verdana;
  color: #555;
  font-size: 16px;
}

.header {
    width: 100%;
    display: inline-block;
    background-image: linear-gradient(60deg, red, orange);
}

h1 {
 color: white;
 text-align: center;
}

.main {
    display: flex;
    min-height: 100vh;
}

.section, .navigation, .news {
   padding: 0.5em;
   box-sizing: border-box;
}

.navigation {
   width: 20%;
   padding: 0;
}

.nav-list {
   list-style-type: none;
   padding: 0.5em;
   line-height: 2em;
}

.nav-list-item {
    margin-bottom: 0.5em;
}

.nav-list-link {
   display: block;
   background-color: #808080;
   color: white;
   padding-left: 0.5em;
   text-decoration: none;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.section {
    width: 60%;
    font-size: 1.25em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
    list-style-type: none;

}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;

}

.news {
    width: 20%;
    padding: 0.5em;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #e5e5e5;
    padding: 0.5em;
    margin-top: auto;
}