li {
    margin-bottom: 16px;
}

ol li {
    background-color: green;
    color: white;
}

ul li {
    background-color: orange;
    color: white;
}

ul li:nth-child(4) {
border: 3px solid red;
margin-left: 16px;
}

ul li:nth-child(5), li:nth-child(6) {
    margin-left: 16px;
}
