@import 'variables.scss';
.navigation {
    background-color: $color-navigation;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.products-list {
    background-color: $color-products;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

span {
    font-family: Verdana;
    text-transform: lowercase;
    padding: 8px;
    border-radius: 4px;
    background-color: $color-span;
    margin: auto;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
    }
    .navigation {
        flex-basis: 50%;
    }
    .products-list {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
    }
    .products {
        flex: 2;
    }
    .news {
        flex: 1;
    }
}