header {
    height: 50px;
    background-color: yellow;
}

.content {
    height: 500px;
    background-color: pink;
    float: left;
    width: 80%;
}

.sidebar {
    height: 500px;
    background-color: gray;
    width: 20%;
    float: right;
}

.footer {
    height: 50px;
    background-color: green;
    clear: both;
}