<<<<<<< HEAD
body {
    background-color: green;
}

ul li {
    font-size: 24px;
}

.page-header {
    background-color: orange;
}

#best {
    border: 2px solid red;
=======
body {
    background-color: green;
}

ul li {
    font-size: 24px;
}

.page-header {
    background-color: orange;
}

#best {
    border: 2px solid red;
>>>>>>> 463667660f3ffbfecc87875071fb69240c51b736
}